<footer class="site-footer">
  <div class="wrap">
    <div class="left">
      <div class="brand">MM</div>
      <p>Connecting ambitious professionals with world-class coaches.</p>
    </div>
    <div class="cols">
      <div>
        <h4>Company</h4>
        <ul>
          <li>Find Coaches</li>
          <li>How it Works</li>
          <li>Pricing</li>
        </ul>
      </div>
      <div>
        <h4>Support</h4>
        <ul>
          <li>Help Center</li>
          <li>Contact Us</li>
          <li>Privacy Policy</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="bottom">© 2025 MentorMingle. All rights reserved.</div>
</footer>
